calcurse
chrome
chromium*
filezilla
flexget/*log
flexget/*sqlite
google*
gnupg
kernel
lxc
mpd/database
mpd/playlists/*
mpd/*.sql
mpd/state
mpv/watch_later/*
newsboat
nvim/autoload/plug.vim.old
nvim/plugged/*
rtorrent/session/*
rtorrent/rpc.socket
spacefm/.git
spacefm/session
startpage
transmission
vnstat
weechat
zim
*xz
*zst
