calcurse
chrome
chromium*
filezilla
flexget/*log
flexget/*sqlite
git
gnupg
google*
java
kernel
lxc
mpd/database
mpd/playlists/*
mpd/*.sql
mpd/state
mpv/watch_later/*
newsboat
nvim/autoload/plug.vim.old
nvim/plugged/*
pki
rtorrent/rpc.socket
rtorrent/session/*
spacefm/.git
spacefm/new
spacefm/session
ssh
startpage
transmission
vnstat
weechat
*xz
zim
zsh/zcompdump
*zst
